<!DOCTYPE html>
	<head>
	<style>
	 body {font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;font-size: 14px;line-height: 20px;color: #333;}
	 h4 {font-size: 17.5px;margin: 10px 0;font-family: inherit;font-weight: bold;line-height: 20px;}
		   .box-error-clrs {background: #d24726; color: #ffffff; border-color: #d24726;}
		   .box-success-clrs {background: #82ba00; color: #ffffff; border-color: #82ba00;}		   
		   .table {width: 100%;}		   
		   .table td {padding: 8px; line-height: 20px; text-align: left; vertical-align: top; border-top: 1px solid #dddddd;}
	</style>
	</head>	
	<body style='font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;font-size: 14px;line-height: 20px;color: #333;'>
		<h4 style='background-color: #f5f5f5;color: #5A5A5A;font-size: 17.5px;margin: 10px 0;font-family: inherit;font-weight: bold;line-height: 20px;'> Data </h4>
		{{#.}}
		<p> {{planet}} </p>
		{{/.}}
		<hr>
		<span style="font-size:10.5pt;font-family:'Helvetica','sans-serif';color:#333333">Powered by Notificator.<br></span>
	</body>		
</html>